.vscode/
__pycache__/
colmap/.appveyor.yml
colmap/.clang-format
colmap/.github/
colmap/.gitignore
colmap/.gitmodules
colmap/.travis.yml
dataset.py
evaluate_data.py
evaluate_gray_data.py
gray_hardnet_model.pth
logs_test.txt
logs_test1.txt
models.py
*.ipynb*
*.png
test.*
push.sh